## Java

*.class
*.war
*.ear
hs_err_pid*

## Eclipse
.classpath
.project
.metadata
.recommenders
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## OS Specific
.DS_Store